body {
    font-family: sans-serif;
    background-color: #40A8B3;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  .button__container {
    margin-top: 200px;
    text-align: center;
  }
  .button {
    background-color:green;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 200px;
    margin-left: 10px;
  }
  .input {
      height: 28px;
      padding: 5px;
  }